.git
.gitignore
.DS_Store
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/*
bootstrap/cache/*.php
public/storage
public/hot
npm-debug.log
yarn-error.log
docker-compose*.yml
README.md
